.Button {
  padding: .75rem 1rem;
}

.Button--Primary {
  background-color: var(--primary-color);
  cursor: pointer;
}

.Button--Primary:disabled {
  background-color: var(--dark-primary-color);
  cursor: default;
}

.Button--Round {
  border-radius: .6rem;
}