:root {
  /* Variables related to colors */
  --primary-color: #007EA8;
  --dark-primary-color: #004157;
  --border-color: #979797;
  --accent-color: #FF773D;
  --hover-drop-item: #eeeeee;

  /* Variables related to sizes */
  --navbar-height: 10vh; 
  --menu-width: 60vw;
  --navbar-avatar: 8vmax;
  --comment-avatar: 6vmax;

  /* Variables related to texts */
  --date-podcast: 1.5vmax;
  --page-title: 3.5vmax;
  --title-podcast: 2.5vmax;
  --icon-podcast: 5.5vmax;
  --comment-message: 2vmax;
  --comment-date: 1.5vmax;
}